html {
    --default-header-padding: 5em;
    --default-conatiner-padding: 10em;
    --default-horizontal-margin: 1em;
    --default-red-color: #E12C30;
    --default-chip-size: 3em;
    --default-chip-panel-background-color: #F9F9F9;
}

body {
    margin: 0;
    width: min-content;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

.caixa-form {
    flex-direction: column;
    justify-content: space-evenly;   
}

.caixa-form input {
    border-radius: 10px;
    border-style: none;
    height: 4em;
}

.default-margin-right video {
    width: 35em;
    height: 18em;
}

.formulario {
    align-items: center;
    justify-content: space-around;
    background-color: var(--default-red-color);
    height: 25em;
}

.botao {
    color: #FFFFFF;
    background: linear-gradient(90deg, #12D01A 17.21%, #12D01A 78.69%);
    border-radius: 30px;
    text-align: center;  
    height: min-content;
}

.cabecalho > .botao {
    width: 15em;
}

.caixa {
    background-color: green;;
}

#login-form {
    height: 60%;
    width: 100%;
}

#caixa-login-form {
    padding: 2em;
    margin-left: 5em;
    width: 30em;
    border-radius: 24px;
}   

#caixa-login-form > .botao {
    width: 100%;
}

#caixa-login-form > * {
    margin: auto;
}

.default-margin-right {
    margin-right: var(--default-horizontal-margin);
}

.default-margin-left {
    margin-left: var(--default-horizontal-margin);
}

.default-padding {
    padding: 1em;
}

.width-full {
    width: 100%;
    justify-content: left;
}

#header-div {
    background-image: url('../assets/images/carros_avenida.png');
}

.default-margin-horizontal {
    margin: 0 var(--default-horizontal-margin);
}

.default-padding-bottom {
    padding-bottom: calc(2 * var(--default-header-padding));
}

.default-padding-top {
    padding-top: var(--default-header-padding);
}

.container-div-padding {
    padding-left: var(--default-conatiner-padding);
    padding-right: var(--default-conatiner-padding);
}

.icon-chip {
    background-color: var(--default-red-color);    
    height: var(--default-chip-size);
    width: var(--default-chip-size);
    border-radius: 100%;
    padding: 1em;
}

.icon-chip-image {
    height: var(--default-chip-size);
    width: var(--default-chip-size);
}

.icon-chip-panel {
    background-color: var(--default-chip-panel-background-color);
    padding: 1em;
    align-items: center;
    justify-content: space-around;
    width: 25em;
}

.icon-chip-panel > p {
    width: 15em;
}

.icon-chip-panel div:first-child {
    margin-right: var(--default-horizontal-margin);
}

.icon-chip-panel div:last-child {
    margin-left: var(--default-horizontal-margin);
}

.flex > .icon-chip-panel {
    margin: 1em;
    flex-grow: 2;
}

.icon-chip-container {
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.secao {
    background-color: #E12C30;
    color:#FFFFFF;
    align-items: center;
    height: 30em;
}

.carro-img {
    height: 45em;
}

.texto {
    
}


